*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{ 
    margin-top: 20%;
    height: auto;
    width: auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.first{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    color: white;

}

.box{
    width: 150px;
    height: 90px;
    border: 1px solid white;
    color: wheat;
    font-size:36px;
    font-weight: 700;
    text-align: center;
    padding-top: 3%;

}
p{
    color: white;
    
    font-weight: 600;
    margin-top: -18%;
    margin-right: -27%;
}


